/* Los import siempre arriba */
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: monogram;
    src: url(../fuentes/MONOGRAM\ LEAVES.otf);
}

* {
    margin:0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    box-sizing: border-box; /* para no sumar el padding ni borde al width */
    font-weight: normal;
}
:root {
    --colorPrincipal: rgb(49, 97, 50);
    --colorSecundario: rgb(226, 228, 226);
}
body {
    font-family: sansation, sans-serif;
    background-color: var(--colorSecundario);
    /* Para que no quede muy ancha en pantallas 4k o similares */
    max-width: 1200px;
    margin: auto;
}

header {
    h1{
        font-family: monogram, fantasy;
        font-size: calc(1rem + 4vw);
        color:var(--colorPrincipal);
        text-align: center;
    }
    nav {
        display: flex;
        gap: 3px;
        a {
            flex-grow: 1; /* para que crezcan ocupando el espacio sobrante */
            background-color: var(--colorPrincipal);
            color:white;
            padding: .5rem;
            /* Al estar dentro de un flex, podemos usar text-align: center
            con elementos en línea */
            text-align: center;
        }
    }
}
main {
    padding: 1rem; /* para que no quede pegado el contenido a los
    bordes en pantallas pequeñas */
}
.restaurante h2, .platos h2 {
    margin-top: 1rem;
    text-align: center;
    /* con clamp podemos poner (mínimo, preferido, máximo) */
    font-size: clamp(1.6rem, calc(1rem + 1vw), 2rem);
    color: var(--colorPrincipal);
    /* El & ya que queremos que afecte al propio h2.
    Sin el &, sería como poner h2 ::before */
    /* ::before para poner algo antes del elemento. Podemos
    cambiar color, tamaño, posición, ....
    Con ::after lo mismo pero después */
    &::before {
        content: "-";
    }
    &::after {
        content: "-";
    }
}
.restaurante p {
    text-align: center;
    font-size: 1.2rem;
    /* interlineado */
    line-height: 1.6rem;
    border-radius: 10px;
    border-left: 4px solid var(--colorPrincipal);
    border-right: 4px solid var(--colorPrincipal);
    padding: 1rem;
    margin-bottom: 1rem;
}

.restaurante div {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* Para que bajen de fila si no hay sitio */
    flex-wrap: wrap;

    img {
        width: 100%; /* la hacemos responsiva */
        max-width: 500px; /* ya que son muy grandes */
        clip-path: polygon(2% 0%, 98% 0%, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0% 98%, 0% 2%);
    }
}

/* Como dentro de platos hay un div que a su vez contiene divs,
usamos > para que solo afecte al div que sea hijo directo */
.platos > div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 1rem;
}

.plato {
    /* Para poder colocar el corazón con posicionamiento
    absoluto y hacer que este div sea su padre */
    position: relative;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* Como la imagen está pegada a la parte superior, no
    se verían los bordes redondeados */
    overflow: hidden;
    box-shadow: 2px 2px 2px rgb(133, 133, 133);
    max-width: 30%;
    min-width: 250px;
    h3 {
        font-weight: bold;
        font-size: 1.3rem;
        margin:.7rem;
    }
    p {
        font-size: 1.2rem;
        margin:.7rem;
        margin-bottom: 3rem;
    }
    img {
        width: 100%;
    }
    i {
        position: absolute;
        top: 10px;
        right: 10px;
        color: red;
        font-size: 1.7rem;
        -webkit-text-stroke: 2px white;
        /*El & es por que queremos el hover en el i, no en su hijo*/
        &:hover {
            -webkit-text-stroke-color: yellow;
        }
    }
    
}

footer {
    background-color: var(--colorPrincipal);
    text-align: end;
    /* la etiqueta address suele poner el texto en cursiva, pero así 
    nos aseguramos */
    font-style: italic;
    color:white;
    padding: 1rem;
    p {
        margin-bottom: .8rem;
    }
    a {
        color: white;
    }
}

/*@media (width <= 560px) {*/
@media (max-width: 560px) {
    .plato {
        width: 100%;
        max-width: 100%;
    }
}